@charset "UTF-8";
/* section#able */
.able--outer {
  display: flex;
  justify-content: space-between;
}

.able--inner {
  background-color: #f1f9ff;
  color: #2699fb;
  width: 200px;
  margin: 0px 20px;
  padding: 20px;
  border: 2px solid #bce0fd;
}

.able--title {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 60px 0px 40px;
}

.able--fin {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 40px 0px;
}

.able--mark {
  font-size: 0.7rem;
  font-weight: normal;
  vertical-align: top;
}

.able--unit {
  font-size: 0.7rem;
  font-weight: normal;
  vertical-align: bottom;
}

.able--li {
  font-size: 1rem;
  padding: 10px;
  border-top: 1px solid #bce0fd;
}

@media screen and (max-width: 959px) {
  /* section#able */
  .able--outer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .able--inner {
    margin: 10px 0;
  }
}

/* section#contact */
.contact {
  font-family: serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: 1px solid #3b4043;
}

.contact--title {
  color: bleck;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.container {
  padding-top: 80px;
}

.container--title {
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 959px) {
  .container {
    margin-bottom: 24px;
    padding-top: 0px;
  }
  .container--title {
    font-size: 2rem;
    margin-bottom: 16px;
  }
}

/* section#environment */
.environment--outer {
  background-color: #f1f9ff;
  display: flex;
  justify-content: center;
  color: #2699fb;
  min-height: 300px;
  padding: 60px;
}

.environment--inner {
  width: 50%;
}

.environment--content {
  display: none;
  font-size: 1.5rem;
  font-family: serif;
  height: 100%;
}

.environment--content__show {
  display: block;
}

.environment--title {
  display: inline-block;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 4px double #2699fb;
}

.environment--detail {
  margin: 20px;
}

.environment--detail img {
  height: 50px;
}

.environment--name {
  display: block;
  color: #2699fb;
  margin-bottom: 5px;
}

.environment--name a:hover {
  opacity: 0.75;
}

.environment--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px dashed #bce0fd;
}

.environment--nav {
  flex-grow: 1;
  font-size: 1.5rem;
  font-family: serif;
  padding: 20px;
  border-bottom: 1px solid #bce0fd;
  list-style: none;
  cursor: pointer;
}

.environment--nav__last {
  border-bottom: none;
}

@media screen and (max-width: 959px) {
  /* section#environment */
  .environment--outer {
    flex-direction: column;
  }
  .environment--inner {
    width: 100%;
  }
  .environment--right {
    border-top: 2px dashed #bce0fd;
    border-left: none;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #2699fb;
  color: white;
  height: 75px;
  padding: 0px 20px;
}

.footer--cw {
  font-size: 1.5rem;
  text-align: center;
}

.footer--sns {
  position: absolute;
  bottom: 5px;
  right: 20px;
  opacity: 0.75;
}

.footer--sns:hover {
  opacity: 1;
}

.footer--sns img {
  width: 50px;
  height: 50px;
}

.form--inner {
  margin-top: 40px;
}

.form--title {
  display: block;
  color: #2699fb;
}

.form--detail {
  padding: 5px;
}

.form--confirmation {
  text-align: center;
}

.form--btn {
  width: 100px;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.form--btn:hover {
  border: 1px solid #2699fb;
  opacity: 0.8;
}

/* header */
#header {
  background-color: #2699fb;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: serif;
  padding: 10px;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
  padding: 10px;
}

.header--nav {
  display: flex;
}

.header--ul {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
}

.header--li {
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  list-style-type: none;
}

.header--link {
  color: white;
}

@media screen and (max-width: 959px) {
  /* header */
  h1 {
    text-align: center;
  }
  .header--nav {
    display: none;
  }
}

/* section#lang */
.lang--img {
  background-color: #f1f9ff;
}

.lang--img img {
  width: 50%;
  height: auto;
  margin: auto;
}

.lang--content {
  background-color: #bce0fd;
  color: #2699fb;
  margin: auto;
  padding-top: 60px;
}

.lang--name {
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

.lang--description {
  text-align: center;
  font-size: 1.5em;
}

@media screen and (max-width: 959px) {
  .lang {
    font-size: 0.8rem;
  }
}

.lang .slick-slide:not(.slick-center) {
  /* 縮小 */
  transform: scale(0.8);
  /* グレー */
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.2s linear;
}

/* main */
main section {
  margin-bottom: 60px;
}

/* article */
#main--middle {
  max-width: 1000px;
  margin: auto;
}

/* section#profile */
.profile--content {
  display: flex;
  justify-content: space-evenly;
}

.profile--img {
  flex-basis: 300px;
  height: 400px;
  overflow: hidden;
}

.profile--img img {
  width: 100%;
  height: auto;
}

.profile--description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile--name {
  font-size: 2rem;
}

.profile--pro {
  color: gray;
  margin: 5px 0 20px;
}

.profile--ul {
  padding: 20px;
  border: 1px solid #2699fb;
}

.profile--li {
  font-size: 1.4rem;
}

@media screen and (max-width: 959px) {
  .profile--content {
    flex-direction: column;
  }
  .profile--description {
    padding: 10px;
  }
}

/* section#header */
.top {
  display: flex;
  height: 65vh;
}

.top--container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.top--title {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.top--content {
  font-size: 2rem;
  font-family: serif;
}

.top--img {
  height: auto;
  flex-basis: 60%;
}

.top--img img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 959px) {
  /* section#header */
  .top {
    display: block;
    position: relative;
    color: white;
    height: 65vh;
  }
  .top--container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 80%;
    padding: 0;
  }
  .top--title {
    font-size: 2rem;
  }
  .top--content {
    font-size: 1.5rem;
  }
  .top--img,
  .top--img img {
    height: 100%;
  }
}

/* section#work */
.work--slide {
  background-color: #f1f9ff;
  position: relative;
  margin: 0px 20px;
  padding: 20px;
  border: 1px #2699fb double;
}

.work--img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.work--content {
  background-color: #f1f9ff;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100px;
  width: 100%;
}

.work--inner {
  color: #2699fb;
  font-size: 1.4rem;
  padding: 20px;
}

.work--link:hover {
  color: #a626fb;
}

.work--period {
  margin-top: 20px;
}

@media screen and (max-width: 959px) {
  .work--slide {
    margin: 0;
  }
}

/* slick */
.work .slick-slide:not(.slick-center) {
  /* 縮小 */
  transform: scale(0.8);
  /* ぼかし */
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

input,
textarea,
select {
  background-color: #f1f9ff;
  font-family: Arial;
  color: #2699fb;
  width: 250px;
  border: 1px solid #bce0fd;
  border-radius: 5px;
}

.isActive {
  background-color: #bce0fd;
}

.prev,
.next {
  background-color: #bce0fd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2699fb;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 50;
}

.prev:hover,
.next:hover {
  border: 2px solid #2699fb;
}

.prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.next {
  position: absolute;
  top: 50%;
  right: 10px;
}

@media screen and (max-width: 959px) {
  .prev,
  .next {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */