/* section#able */
.able {
  &--outer {
    display: flex;
    justify-content: space-between;
  }
  &--inner {
    background-color: #f1f9ff;
    color: #2699fb;
    width: 200px;
    margin: 0px 20px;
    padding: 20px;
    border: 2px solid #bce0fd;
  }
  &--title {
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 60px 0px 40px;
  }
  &--fin {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 40px 0px;
  }
  &--mark {
    font-size: 0.7rem;
    font-weight: normal;
    vertical-align: top;
  }
  &--unit {
    font-size: 0.7rem;
    font-weight: normal;
    vertical-align: bottom;
  }
  &--li {
    font-size: 1rem;
    padding: 10px;
    border-top: 1px solid #bce0fd;
  }
}

@media screen and (max-width: 959px) {
  /* section#able */
  .able {
    &--outer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &--inner {
      margin: 10px 0;
    }
  }
}
