/* section#contact */
.contact {
  font-family: serif;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: 1px solid #3b4043;
  &--title {
    color: bleck;
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
}
