.container {
  padding-top: 80px;
  &--title {
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 959px) {
  .container {
    margin-bottom: 24px;
    padding-top: 0px;
    &--title {
      font-size: 2rem;
      margin-bottom: 16px;
    }
  }
}
