/* section#environment */
.environment {
  &--outer {
    background-color: #f1f9ff;
    display: flex;
    justify-content: center;
    color: #2699fb;
    min-height: 300px;
    padding: 60px;
  }
  &--inner {
    width: 50%;
  }
  &--content {
    display: none;
    font-size: 1.5rem;
    font-family: serif;
    height: 100%;
    &__show {
      display: block;
    }
  }
  &--title {
    display: inline-block;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 4px double #2699fb;
  }
  &--detail {
    margin: 20px;
    & img {
      height: 50px;
    }
  }
  &--name {
    display: block;
    color: #2699fb;
    margin-bottom: 5px;
    & a:hover {
      opacity: 0.75;
    }
  }
  &--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px dashed #bce0fd;
  }
  &--nav {
    flex-grow: 1;
    font-size: 1.5rem;
    font-family: serif;
    padding: 20px;
    border-bottom: 1px solid #bce0fd;
    list-style: none;
    cursor: pointer;
    &__last {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: 959px) {
  /* section#environment */
  .environment {
    &--outer {
      flex-direction: column;
    }
    &--inner {
      width: 100%;
    }
    &--right {
      border-top: 2px dashed #bce0fd;
      border-left: none;
    }
  }
}
