/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #2699fb;
  color: white;
  height: 75px;
  padding: 0px 20px;
  &--cw {
    font-size: 1.5rem;
    text-align: center;
  }
  &--sns {
    position: absolute;
    bottom: 5px;
    right: 20px;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
    & img {
      width: 50px;
      height: 50px;
    }
  }
}
