/* section#work */
.work {
  &--slide {
    background-color: #f1f9ff;
    position: relative;
    margin: 0px 20px;
    padding: 20px;
    border: 1px #2699fb double;
  }
  &--img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  &--content {
    background-color: #f1f9ff;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 100px;
    width: 100%;
  }
  &--inner {
    color: #2699fb;
    font-size: 1.4rem;
    padding: 20px;
  }
  &--link {
    &:hover {
      color: #a626fb;
    }
  }
  &--period {
    margin-top: 20px;
  }
}

@media screen and (max-width: 959px) {
  .work--slide {
    margin: 0;
  }
}

/* slick */
.work .slick-slide:not(.slick-center) {
  /* 縮小 */
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);

  /* ぼかし */
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
